@import "../currentDay.module.scss";

.information {
  @extend .child1;
  overflow: hidden;
  align-items: center;

  padding: var(--page-margin-bottom) 0 var(--page-margin-bottom)
    var(--page-margin-left);

  margin-top: auto;

  @extend .flex;

  .celsius {
    font-size: var(--current-day-block-heigth);

    &::after {
      content: "\B0";
    }
  }

  .block_info {
    width: 100%;
    justify-content: space-between;
    @extend .flex;

    .block_item {
      font-size: var(--current-day-font-day);
      margin-top: auto;
    }

    .first {
      font-size: var(--current-day-font-city);

      margin-top: auto;
      height: 100%;

      justify-content: center;
      flex-direction: column;
      @extend .flex;

      @include media(1023px, 73%);
      @include media(767px, 64%);
      @include media(300px, 60%);
    }

    .second {
      word-wrap: break-word;

      overflow: hidden;
      
      align-items: center;
      text-align: center;
      
      flex-direction: column;
      @extend .flex;
      
      .img {
        margin: auto;
        height: var(--current-day-img-size);
        width: var(--current-day-img-size);
      }
      
      @include media(1023px, 17%);
      @include media(767px, 36%);
      @include media(300px, 40%);
    }
  }

  @media screen and (max-width: 1023px) {
    padding: var(--page-margin-bottom) var(--page-margin-left);

    flex-direction: column;
    align-items: flex-start;
  }
}
