@import "../search.module.scss";

.flex {
  display: flex;
  flex-direction: row;
}

.item {
  border: 1px solid var(--menu-border);
}

.skeleton {
  width: 125px!important;
}

.carousel {
  //margin: auto 0;

  row-gap: var(--search-padding);
  flex-direction: column;
  @extend .flex;

  .carousel_item {
    overflow: hidden;

    @extend .flex;
  }
}
