@import "../location.module.scss";

.mainCont {
  background-color: var(--location-bg);
  padding: calc(var(--header-heigth-default) * 2) 0 var(--page-margin-bottom);

  @extend .flex;

  .info {
    flex-grow: 3;
    //height: 70%;

    align-items: center;
    justify-content: center;

    flex-direction: row;
    column-gap: var(--location-info-padding);
    @extend .flex;

    .temp {
      width: fit-content;
      text-align: center;
      font-size: var(--location-font-temp);
      font-weight: bold;

      border-radius: var(--border-radius);
      
      &::after {
        content: "\B0";
      }
    }

    .date {
      border-radius: var(--border-radius);

      width: fit-content;
      row-gap: var(--location-padding);
      @extend .flex;

      .day {
        font-size: var(--location-font-day);
        font-weight: bold;
      }

      .dateInfo {
        @extend .flex;

        @media screen and (max-width: 767px) {
       
          column-gap: var(--padding-default);
          justify-content: space-between;
          flex-direction: row-reverse;

          p {
            margin: auto 0 0;
          }
        }
      }

      @media screen and (max-width: 767px) {
        align-items: center;
        justify-content: center;
      }
    }

    p {
      width: fit-content;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  .futureInfo {
    //flex-grow: 1;
    //height: 30%;

    align-items: center;
    justify-content: center;

    flex-direction: row;
    column-gap: var(--location-info-padding);
    @extend .flex;
  }

  @extend .child1;
  @extend .flex;
}
