@import "ui/loaders/skeleton.module.scss";

.skeleton {
  width: 100px !important;
  height: calc(
    (var(--menu-padding-item) * 2) + var(--font-size-default) +
      (var(--font-size-default) / 4)
  )!important;
}

.flex {
  display: flex;
  flex-direction: row;
}

.container {
  height: 100vh;

  padding: calc(var(--header-heigth-default) * 2) 0;
  justify-content: space-around;
  flex-direction: column;
  @extend .flex;

  .search {
    padding: 0 var(--page-margin-left) var(--search-padding);
    text-align: center;

    gap: var(--padding-default);
    flex-direction: column;
    align-items: center;
    @extend .flex;

    h1 {
      font-size: var(--header-logo-size);
    }

    p {
      font-size: var(--font-size-default);
    }
  }

  .marquee {
    row-gap: var(--search-padding);

    flex-direction: column;
    @extend .flex;

    .searchMarq {
      flex-wrap: wrap;
      row-gap: var(--search-padding);

      justify-content: center;
      @extend .flex;

      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
}

.item {
  font-size: var(--font-size-default);
  width: fit-content;
  display: block;

  margin: 0 calc(var(--search-padding) / 2);
  padding: var(--menu-padding-item) var(--search-padding);

  border: 1px solid rgb(255, 81, 0);
  border-radius: var(--border-radius);

  transition: var(--transition-default);

  &:hover {
    background-color: var(--focus-color);
  }

  &:active {
    background-color: var(--focus-color);
  }
}
