.flex {
  display: flex;
  flex-direction: row;
  column-gap: var(--padding-default);
}

.color {
  color: #fff;
}

@mixin media($max-width, $width) {
  @media screen and (max-width: $max-width) {
    width: $width;
    max-width: $width;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 2fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 0px;
}

.child1 {
  grid-area: 1 / 1 / 6 / 6;

  @media screen and (max-width: 1170px) {
    grid-area: 1 / 1 / 6 / 8;
  }
}
.child2 {
  grid-area: 1 / 6 / 6 / 8;
  
  @media screen and (max-width: 1170px) {
    grid-area: 1 / 1 / 6 / 8;
  }
}

.container {
  @extend .parent;

  background: var(--background-img);
  background-size: cover;
  height: 100vh;
  color: #fff;

  transition: var(--transition-default);
}
