.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--padding-default);
}

.container {
  z-index: 100;
  transition: var(--transition-default);

  width: 100%;
  height: var(--header-heigth-default);
  top: 0;
  position: fixed;

  padding: 12px var(--page-margin-left);
  color: #fff;

  @extend .flex;

  .logo {
    font-size: var(--header-logo-size);
    font-weight: bold;
    letter-spacing: 3px;
  }

  .settings {
    margin-left: auto;
    @extend .flex;
  }

  .menu {
    width: calc(var(--font-size-default) * 2);
  }

}

.m_active {
  z-index: 300;
  
  .menu {
    margin-left: auto;
  }
}

.active {
  z-index: 4000;
  background-color: var(--header-color-default);
  border-bottom: 1px solid var(--border-bottom-default);
  color: var(--font-color-default);

  .menu {
    color: var(--font-color-default);
  }
}
