.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--padding-default);
}

.container {
  z-index: 100;
  transition: var(--transition-default);

  width: 100%;
  height: var(--header-heigth-default);
  top: 0;

  padding: 12px var(--page-margin-left);
  color: #fff;

  @extend .flex;

  .logo {
    font-size: var(--header-logo-size);
    font-weight: bold;
    letter-spacing: 3px;
  }

  .choose {
    margin-left: auto;
    @extend .flex;
  }
}
