@import "components/header/header.module.scss";

.container {
  //position: inherit;
  justify-content: space-between;
  color: var(--font-color-default);

  .settings {
    margin: 0;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
