.flex {
  display: flex;
  flex-direction: row;
}

.container {
  height: 100vh;

  padding: calc(var(--header-heigth-default) * 2) 0;
  justify-content: space-around;
  flex-direction: column;
  @extend .flex;

  .search {
    padding: 0 var(--page-margin-left);
    text-align: center;

    gap: var(--padding-default);
    flex-direction: column;
    align-items: center;
    @extend .flex;

    h1 {
      font-size: var(--header-logo-size);
    }

    p {
      font-size: var(--font-size-default);
    }
  }

  .marquee {
    row-gap: var(--search-padding);

    flex-direction: column;
    @extend .flex;

    .searchMarq {
      overflow: scroll;
      justify-content: center;
      @extend .flex;

      &::-webkit-scrollbar {
        width: 0;
      }

      @media screen and (max-width: 767px) {
        justify-content: flex-start;
      }
    }
  }
}
