:root {
  --font-color-default: #202124;
  --background-default: #fff;
  --header-color-default: #fff;
  --border-bottom-default: #eee;

  --font-size-default: 15px;
  --header-logo-size: 24px;
  --header-heigth-default: 65px;
  --transition-default: 0.3s;
  --page-margin-bottom: 5.5vw;
  --page-margin-left: 6vw;
  --padding-default: 18px;
  --border-radius: 8px;
  
  --current-day-block-heigth: 7rem;
  --current-day-font-city: 2.8rem;
  --current-day-font-day: 0.9rem;
  --current-day-img-size: 48px;
  
  --select_total_text_color: #202124;
  --select_btn_hover_bg: #d3d3d3;
  --select_btn_bg: #f5f5f5;
  
  @media screen and (min-width: 767px) and (max-width: 1023px) {
    --font-size-default: 13px;
    --header-logo-size: 20px;
    --padding-default: 14px;
    
    --page-margin-left: 5vw;
    --page-margin-bottom: 10vw;
    
    --current-day-block-heigth: 80px;
    --current-day-font-city: 32px;
    --current-day-font-day: 16px;
    --current-day-img-size: 40px;
  }

  @media screen and (max-width: 767px) {
    --font-size-default: 12px;
    --header-logo-size: 16px;
    --padding-default: 12px;
    
    --page-margin-left: 12px;
    --page-margin-bottom: 10vh;
    
    --current-day-block-heigth: 48px;
    --current-day-font-city: 24px;
    --current-day-font-day: 12px;
    --current-day-img-size: 36px;
  }

  @media screen and (max-width: 300px) {
    --font-size-default: 10px;
    --header-logo-size: 14px;
    --padding-default: 8px;
    
    --page-margin-left: 8px;
    --page-margin-bottom: 10vh;
    
    --current-day-block-heigth: 32px;
    --current-day-font-city: 14px;
    --current-day-font-day: 12px;
    --current-day-img-size: 24px;
  }
}

[dark] {
  --background-default: #202124;
  --font-color-default: #fff;
  --header-color-default: #202124;
  --border-bottom-default: #333;

  --select_total_text_color: #e0e0e0;
  --select_btn_hover_bg: #5a5656;
  --select_btn_bg: #3a3a3a;
}
