@import "../location.module.scss";

.asideCont {
  padding: calc(var(--header-heigth-default) * 1.4) 0 32px;

  background-color: var(--background-default);

  @extend .flex;
  @extend .child2;

  .items {
    row-gap: calc(var(--location-padding) * 2);

    align-items: center;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none
    }

    @extend .flex;
  }

  @media screen and (max-width: 767px) {
    padding: 12px 0;

    .items {
      flex-direction: row;
      height: 100%;
      column-gap: calc(var(--location-padding) * 6);
    }
  }
}
