.flex {
  display: flex;
  flex-direction: row;
}

.carousel {
  //margin: auto 0;

  row-gap: var(--search-padding);
  flex-direction: column;
  @extend .flex;

  .carousel_item {
    overflow: hidden;

    @extend .flex;
  }
}
